<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="<%= htmlWebpackPlugin.options.host %>/src/images/favicon/favicon.ico">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>
<body>
  <div id="app"></div>
  <% if (htmlWebpackPlugin.options.mode === 'local') { %>
  <script src="<%= htmlWebpackPlugin.options.host %>/build/bundle.js"></script>
  <% } %>
  <% if (htmlWebpackPlugin.options.mode === 'dev') { %>
  <script src="http://dev.atyta.ru/build/bundle-<%= htmlWebpackPlugin.options.timestamp %>.js"></script>
  <% } %>
  <% if (htmlWebpackPlugin.options.mode === 'stage') { %>
  <script src="https://stage.atyta.ru/build/bundle-<%= htmlWebpackPlugin.options.timestamp %>.js"></script>
  <% } %>
</body>
</html>