client/build/*
client/public/*
client/node_modules/
client/yarn.lock
client/uploads/
client/env
client/.env

server/node_modules/
server/yarn.lock
server/yarn-error.log
server/env
server/.env

client/index.html
*.code-workspace

env/*