client/build/*
client/node_modules/
client/yarn.lock
client/uploads/

server/node_modules/
server/yarn.lock
server/yarn-error.log

client/index.html
*.code-workspace

server/.env
server/.env.localhost
server/.env.development
server/.env.stage

client/.env
client/.env.localhost
client/.env.development
client/.env.stage
