$COLOR-WHITE: #FFFFFF;
$COLOR-BASE: #27A78D;
$COLOR-TEXT: #7E7F83;
$COLOR-TEXT-DISABLED: #CBD4D3;
$COLOR-TITLE: #1B1C20;
$COLOR-GREY-ACTIVE: #E9ECEF;
$COLOR-GREY-BORDER: #E1E3E4;
$COLOR-GREY-DISABLED: #F8F8F8;
$COLOR-GREY-LIGHT: #F1F1F1;
$COLOR-BLUE-MAIN: #0077B6;
$COLOR-BLUE-ACTIVE: #023E8A;
$COLOR-BLUE-HOVER: #03045E;
$COLOR-BLUE-LIGHT: #0096C7;
$COLOR-VIOLET: #7F49FF;
$COLOR-BLUE-SUPER-LIGHT: #E0D3FE;
$COLOR-RED-INVALID: red;
$COLOR-GREEN: #11CC00;
$COLOR-GREEN-DARK: #56b20e;
$COLOR-BLACK: #000000;
