$SEARCH-MOBILE-HEIGHT: 40px;
$MENU-MOBILE-HEIGHT: 40px;
$WIDTH-33: calc(100% / 3);

.font-face {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

.padding-desktop {
  padding-left: 25px;
  padding-right: 25px;
}

.padding-mobile {
  padding-left: 15px;
  padding-right: 15px;
}