.add-object-page {
  &__switcher {
    max-width: 250px;
  }

  &__map {
    width: 100%;
    height: 100%;
  }

  &__btn {
    align-self: flex-end;
  }

  &__text {
    &_price {
      &-total {
        align-self: flex-end;
      }
    }
  }
}