.company-page {
  grid-area: article;

  @extend .container-3-columns;

  &__wrap {
    @include media(mobile) {
      margin-bottom: 25px;
    }
  }

  &__paragraph {
    @extend .paragraph;
    margin-bottom: 0;
    font-size: 14px;
  }

  &__website {
    margin-top: 10px;
  }

  &__address {
    margin-top: 10px;
  }

  &__contacts {
    width: 250px;
    font-size: 14px;
    align-self: flex-end;

    &-title {
      font-size: 16px;
      margin-bottom: 5px;
    }

    @include media(mobile) {
      align-self: center;
    }
  }

  &__phones {
    &-item {
      margin-bottom: 4px;
    }

    &-link {
      color: $COLOR-BLUE-MAIN;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @include media(desktop) {
      margin-bottom: 22px;
    }

    @include media(tablet-landscape) {
      margin-bottom: 18px;
    }

    @include media(tablet-portrait) {
      margin-bottom: 16px;
    }

    @include media(mobile) {
      margin-bottom: 15px;
    }

    &-title {
      @extend .title;
      @extend .title_h1;
      margin: 0;
    }
  
    &-bottom {
      display: flex;

      @include media(desktop) {
        flex-direction: row;
      }

      @include media(tablet-landscape) {
        flex-direction: row;
      }

      @include media(tablet-portrait) {
        flex-direction: row;
      }

      @include media(mobile) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__image {
    width: 100%;

    &-wrap {
      width: 150px;
      height: 150px;

      @include media(desktop) {
        margin-right: 20px;
      }

      @include media(tablet-landscape) {
        margin-right: 20px;
      }

      @include media(tablet-portrait) {
        margin-right: 20px;
      }

      @include media(mobile) {
        margin-bottom: 20px;
      }
    }

    &-description {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      @include media(mobile) {
        text-align: center;
      }
    }
  }

  &__description {
    margin-bottom: 15px;
  }

  &__same-objects {
    &-header {
      margin-bottom: 10px;
    }

    &-title {
      @extend .title;
      @extend .title_h3;
      font-size: 22px;
    }
  }

  @include media(desktop) {
    padding-top: 50px;
  }
}