.help-page {
  grid-area: article;

  @extend .container-3-columns;

  &__wrap {
    display: flex;
    flex-direction: column;

    @include media(mobile) {
      margin-bottom: 25px;
    }
  }

  &__header {
    margin-bottom: 15px;

    @include media(mobile) {
      margin-bottom: 5px;
    }
  }

  &__back-link {
    display: none;

    @include media(mobile) {
      display: block;
      margin-bottom: 15px;
      font-weight: 300;
      font-size: 14px;
    }
  }

  &__title {
    @extend .title;
    @extend .title_h1;
    margin-bottom: 0;
  }

  @include media(desktop) {
    padding-top: 50px;
  }

  &__link {
    font-size: 17px;
    font-weight: 400;
    text-decoration: underline;
    color: $COLOR-BLUE-MAIN;

    &:hover {
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include media(desktop) {
      // padding-top: 50px;
    }
  }

  &__answers {
    width: auto;
  }

  &__questions {
    width: 250px;
    min-width: 250px;
    margin-right: 15px;

    &-list {
      &-item {
        margin-top: 8px;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    &__mobile {
      @include media(mobile) {
        display: none;
      }
    }

    @include media(mobile) {
      width: 100%;
      min-width: 100%;
    }
  }

  @include media(mobile) {
    height: 100%;
  }
}