.registration-page {
  @extend .container-3-columns;
  grid-area: article;

  &__wrap {
    display: flex;
    flex-direction: column;

    @include media(mobile) {
      margin-bottom: 25px;
    }
  }

  &__title {
    &_row {
      @extend .template-page__title_row;
      font-size: 18px;
      color: $COLOR-TEXT;
      margin-bottom: 10px;
    }
  }

  &__content {
    @extend .template-page__content;
    max-width: 600px;
  }

  &__input {
    width: 100%;
    box-shadow: none;

    &-block {
      margin-right: 5px;
    }

    &-wrap {
      display: flex;
      max-width: 300px;

      &_full-width {
        max-width: 100%;
      }
    }
  }

  &__icon {
    &_ok {
      width: 20px;
    }
  }

  &__btn {
    &-wrap {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      &_links {
        font-size: 14px;
      }

      &_buttons {
        margin-bottom: 5px;
      }
    }

    &_submit {
      font-size: 20px;
      padding: 15px 50px;

      @include media(mobile) {
        width: 100%;
      }
    }
  }

  &__banner {
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    background-color: $COLOR-GREEN-DARK;

    &-text {
      color: $COLOR-WHITE;
    }
  }
}