.settings-sub-page {
  &__form {
    &-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 15px;

      @include media(mobile) {
        flex-direction: column;
        align-items: flex-start;
      }

      &-column {
        margin-right: 15px;

        &_input {
          width: 200px;
        }

        @include media(mobile) {
          margin-right: 0;
          margin-bottom: 10px;
          width: 100%;
        }
      }

      &-label {
        font-size: 16px;

        &-wrap {
          width: 110px;

          @include media(mobile) {
            margin-bottom: 10px;
          }
        }
      }

      &-input {
        width: 100%;

        &-wrap {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          width: 100%;

          @include media(mobile) {
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
  }

  &__row {
    margin-bottom: 20px;
  }

  &__header {

  }

  &__content {

  }
}