.ads {
  &__link {
    display: block;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &_left {
    grid-area: adsLeft;
  }

  &_right {
    grid-area: adsRight;
  }

  @include media(desktop) {

  }

  @include media(tablet-landscape) {
    display: block;
  }

  @include media(tablet-portrait) {
    display: none;
  }

  @include media(mobile) {
    margin-bottom: 25px;
  }
}