.card-dialog {
  @extend .card;

  &__inner-wrap {
    display: flex;
    justify-content: flex-start;

    &-left {
      width: 50px;
      margin-right: 6px;
    }

    &-center {
      flex-grow: 1;
    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    margin-bottom: 5px;
    @extend .card__title;
  }

  &__subtitle {
    margin: 0;
    @extend .card__subtitle;
  }

  &__date {
    @extend .card__date;
    margin-bottom: 0;
  }

  &__icon {
    &-read {
      &_double {
        @extend .card__icon-read_double;
      }

      &_single {
        @extend .card__icon-read_single;
      }
    }
  }

  &__img {
    max-height: 60px;
  }
}