.filter-mobile {
  z-index: -1;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  overflow: hidden;
  transition: opacity .3s ease .9s, right .3s ease .9s;

  &_open {
    right: 0;
    opacity: 1;
    z-index: 3;
    transition: opacity .3s ease;
  }

  &__overlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    z-index: -1;
    opacity: 0;
    background-color: #000000;
    transition: opacity .5s ease;

    &_open {
      z-index: 2;
      opacity: .1;
      height: 100vh;
    }
  }

  &__wrap {
    z-index: -1;
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100vw;
    background-color: $COLOR-WHITE;
    transition: right .3s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24px;

    &_open {
      right: 0;
      z-index: 3;
    }
  }

  &__content {
    padding: 50px 15px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
  }

  &__btn {
    margin-left: 10px;
  }

  &__buttons-block {
    z-index: 3;
    right: 20px;
    bottom: 20px;
    position: fixed;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  
    @include media(desktop) {
      display: none;
    }
  
    @include media(tablet) {
      display: none;
    }
  
    @include media(mobile) {
      display: flex;
    }
  }
}