.grid {
  &__buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    @include media(desktop) {
      justify-content: space-between;
    }

    @include media(tablet) {
      justify-content: flex-end;
    }

    @include media(mobile) {
      justify-content: flex-end;
    }

    &-button {
      margin: 0;
      padding: 5px;
      cursor: pointer;

      &-view {
        width: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: $COLOR-BLUE-MAIN;

        .icon {
          width: 100%;
          height: auto;
          fill: #fff;

          &__path {
            fill: #fff;
          }
        }
      }
    }

    &-view {
      &-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &-item {
          margin-right: 5px;
        }
      }
  
      @include media(tablet) {
        display: none;
      }
  
      @include media(mobile) {
        display: none;
      }
    }

    &-sort {
      &-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        &-item {
          margin-left: 5px;
        }
      }
    }
  }

  &__list {
    display: grid;
    gap: 15px 15px;

    &-item {
      &_column-3 {
        width: $WIDTH-33;
      }
    }

    &_net {
      @include media(desktop) {
        grid-template-columns: 1fr 1fr 1fr;
      }
  
      @include media(tablet) {
        grid-template-columns: 1fr;
      }
  
      @include media(mobile) {
        grid-template-columns: 1fr;
      }
    }

    &_list {
      grid-template-columns: 100%;
    }
  }
}