.menu-mobile {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 15px;
  height: $MENU-MOBILE-HEIGHT;
  box-sizing: border-box;
  background-color: $COLOR-WHITE;
  box-shadow: 0 0 2px rgba(0, 0, 0, .1);

  &__list {
    height: 100%;

    &-item {
      font-size: 10px;
      color: $COLOR-BASE;
    }
  }

  &__text {
    color: $COLOR-TEXT;

    &_active {
      color: $COLOR-BLUE-MAIN;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    &:active {
      outline: none;
    }
  }

  &__icon {
    width: auto;
    height: 18px;
    margin-bottom: 2px;

    &_active {
      fill: $COLOR-BLUE-MAIN;

      &__path {

      }
    }
  }

  @include media(desktop) {
    display: none;
  }

  @include media(tablet-landscape) {
    display: none;
  }

  @include media(mobile) {
    display: block;
  }
}