.object-card {
  border-width: 1px;
  border-style: solid;
  border-color: $COLOR-GREY-BORDER;
  border-radius: 10px;
  color: $COLOR-TEXT;
  height: 100%;

  &__link {
    text-decoration: none;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;

    &-img {
      width: 100%;
      overflow: hidden;
      border-radius: 10px;
      margin-bottom: 12px;

      @include media(desktop) {
        height: 150px;
      }
    
      @include media(tablet) {
        height: 150px;
      }
    
      @include media(mobile) {
        height: 240px;
      }

      &_list-view {
        width: 220px;
        margin-right: 20px;
        margin-bottom: 0;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      align-self: center;
      width: 100%;

      &__item {
        margin-bottom: 8px;
      }

      &-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        align-self: center;
        width: 100%;
        margin-bottom: 10px;

        &-item {
          width: $WIDTH-33;
          font-size: 12px;
          color: $COLOR-TITLE;
          text-align: center;
  
          &_room {
            border-right: 1px solid $COLOR-TITLE;
          }
    
          &_area {
            border-right: 1px solid $COLOR-TITLE;
          }

          &_list-view {
            width: auto;
            text-align: left;
            padding: 0 15px;
    
            &:nth-child(1) {
              padding-left: 0;
            }
          }
        }

        &_list-view {
          justify-content: flex-start;
        }
      }

      &_top {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        margin-bottom: 12px;
    
        &_list {
          margin-bottom: 6px;
        }
      }

      &_bottom {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_list {
          height: auto;
        }
      }

      &_list-view {
        width: auto;
        max-width: 340px;
        justify-content: flex-start;
      }
    }

    &_list-view {
      flex-direction: row;
    }
  }

  &__price {
    color: $COLOR-TITLE;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_number {
      font-size: 16px;
      font-weight: 700;
    }

    &_text {
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__btn {
    &_favorites {
      width: 20px;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.5s ease;
    }

    &_show-phone {
      letter-spacing: 0;
      padding: 5px 10px;
      background-color: $COLOR-TEXT-DISABLED;
      margin-bottom: 10px;

      &:hover {
        background-color: $COLOR-BLUE-LIGHT;
      }
    }

    &_write-message {
      letter-spacing: 0;
      padding: 5px 10px;
      background-color: $COLOR-TEXT-DISABLED;

      &:hover {
        background-color: $COLOR-BLUE-LIGHT;
      }
    }
  }

  &__address {
    color: $COLOR-BASE;
    height: 26px;
    overflow: hidden;
    margin-bottom: 8px;

    &_list-view {
      height: auto;
    }
  }

  &__district {
    font-size: 12px;
    color: $COLOR-BASE;
  }

  &__agency,
  &__area,
  &__date,
  &__address {
    font-size: 13px;
  }


  &__date {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $COLOR-BASE;
  }

  &__agency {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 30px;
    margin-top: 0px;
    padding: 2px 10px;
    text-align: center;
    color: $COLOR-TITLE;
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;
    background-color: $COLOR-GREY-LIGHT;

    &_list-view {
      height: 22px;
    }
  }

  &__text {
    &-bold {
      font-weight: 700;
    }
  }

  &__action {
    display: none;

    &_list-view {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      padding: 4px 0 0;
      margin-left: 20px;
      margin-right: 10px;
      flex-grow: 1;
    }

    &-item {
      margin-bottom: 10px;
    }

    &-top {

    }

    &-bottom {

    }
  }
}