.object-card {
  border-width: 1px;
  border-style: solid;
  border-color: $COLOR-GREY-ACTIVE;
  border-radius: 10px;
  color: $COLOR-TEXT;
  height: 100%;

  &__wrap {
    display: flex;
    flex-direction: column;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;

    &_list {
      flex-direction: row;
    }
  }

  &__img {
    &-wrap {
      width: 100%;
      overflow: hidden;
      border-radius: 10px;
      margin-bottom: 12px;

      @include media(desktop) {
        height: 150px;
      }
    
      @include media(tablet) {
        height: 150px;
      }
    
      @include media(mobile) {
        height: 240px;
      }
    }

    &_list {
      width: 220px;
      margin-right: 20px;
    }
  }

  &__item {
    margin-bottom: 8px;
  }

  &__info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 100%;

    &-item {
      width: $WIDTH-33;
      font-size: 12px;
      color: $COLOR-TITLE;
      text-align: center;

      &_room {
        border-right: 1px solid $COLOR-TITLE;
      }

      &_area {
        border-right: 1px solid $COLOR-TITLE;
      }
    }
  }

  &__bottom {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__price {
    color: $COLOR-TITLE;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_number {
      font-size: 16px;
      font-weight: 700;
    }

    &_text {
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__btn {
    &_favorites {
      width: 20px;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        .icon_stroke {
          fill: $COLOR-TEXT-DISABLED;
        }
      }
    }
  }

  &__middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 12px;
  }

  &__address {
    color: $COLOR-BASE;
    height: 26px;
    overflow: hidden;
    margin-bottom: 8px;
  }

  &__district {
    font-size: 12px;
    color: $COLOR-BASE;
  }

  &__agency,
  &__area,
  &__date,
  &__address {
    font-size: 13px;
  }


  &__date {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $COLOR-BASE;
  }

  &__agency {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 30px;
    margin-top: 0px;
    padding: 2px 10px;
    text-align: center;
    color: $COLOR-TITLE;
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;
    background-color: $COLOR-GREY-LIGHT;
  }

  &__text {
    &-bold {
      font-weight: 700;
    }
  }
}