$BORDER-RADIUS: 6px;

.radio-buttons {
  &_float-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &-item {
      cursor: pointer;
      flex-shrink: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      &_wrap {
        width: 50%;

        &-add-object {
          &:nth-child(2n + 1) {
            width: 40%;

            @include media(tablet-landscape) {
              width: 100%;
            }
          }

          &:nth-child(2n + 2) {
            width: 60%;

            @include media(tablet-landscape) {
              width: 100%;
            }
          }
        }

        &-half {
          width: 50%;
        }

        &-vertical {
          width: 100%;
        }
      }

      &_horizontal {
        align-items: center;
        margin-right: 20px;
      }
    }

    &_float-right {
      width: auto;
      margin-top: 6px;
    }

    &_wrap {
      flex-wrap: wrap;
      flex-shrink: unset;
      flex-direction: row;
    }

    &_vertical {
      flex-direction: column;
    }

    &_horizontal {
      flex-direction: row;
    }
  }

  &__label {
    padding: 5px 0 5px 22px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    text-align: left;
    position: relative;
    flex-grow: 1;

    &:before {
      content: '';
      top: 4px;
      left: 0;
      width: 14px;
      height: 14px;
      position: absolute;
      border-radius: 100%;
      border: 1px solid $COLOR-BLUE-MAIN;
    }

    &_active {
      &:after {
        content: '';
        top: 6px;
        left: 2px;
        width: 4px;
        height: 4px;
        position: absolute;
        border-radius: 100%;
        border: 4px solid $COLOR-BLUE-MAIN;
      }
    }

    &_error {
      &:before {
        @include validateError;
      }
    }
  }

  &__input-radio {
    display: none;
    margin: 0;
    padding: 0;
    color: $COLOR-BLUE-MAIN;
  }
}