$BORDER-RADIUS: 6px;

.radio-buttons {
  &_float-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &-item {
      padding: 5px 0;
      cursor: pointer;
      flex-shrink: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      &_wrap {
        width: 50%;

        &-add-object {
          &:nth-child(2n + 1) {
            width: 40%;

            @include media(tablet-landscape) {
              width: 100%;
            }
          }

          &:nth-child(2n + 2) {
            width: 60%;

            @include media(tablet-landscape) {
              width: 100%;
            }
          }
        }

        &-half {
          width: 50%;
        }

        &-vertical {
          width: 100%;
        }
      }
    }

    &_float-right {
      width: auto;
      margin-top: 6px;
    }

    &_wrap {
      flex-wrap: wrap;
      flex-shrink: unset;
      flex-direction: row;
    }

    &_vertical {
      flex-direction: column;
    }
  }

  &__label {
    padding: 0 0 0 6px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    text-align: left;
  }

  &__input-radio {
    margin: 0;
    padding: 0;
    color: $COLOR-BLUE-MAIN;
  }
}