$BORDER-RADIUS: 6px;

.radio-buttons {

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &-item {
      padding: 5px 0;
      cursor: pointer;
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__label {
    padding: 0 0 0 6px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    text-align: left;
  }

  &__input-radio {
    margin: 0;
    padding: 0;
    color: $COLOR-BLUE-MAIN;
  }
}