.show-phone-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;

  &_big {
    width: 100%;
  }

  &__btn {
    font-size: 12px;
    padding: 4px 6px;

    &:hover {
      background-color: $COLOR-BLUE-MAIN;
    }

    &_mini {
      font-size: 12px;
      padding: 4px 6px;
    }

    &_big {
      height: 50px;
      font-size: 18px;
      padding: 14px 40px;
      font-weight: 500;
      width: 100%;
    }

    &_phone-number {
      background-color: $COLOR-GREEN;
    }

    &_message {
      background-color: $COLOR-BLUE-MAIN;
    }
  }

  &__phone {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &_big {
      height: 50px;
      margin-bottom: 10px;
    }

    &_mini {
      height: 20px;
      margin-bottom: 4px;
    }

    &-number {
      font-size: 15px;

      &_big {
        font-size: 18px;
        font-weight: 700;
      }
  
      &_mini {
        font-size: 14px;
      }
  
      &-link {
        color: $COLOR-BLUE-LIGHT;
        text-decoration: none;
      }
    }
  }
}