.show-phone-number {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  &__btn {
    background-color: $COLOR-BLUE-LIGHT;

    &:hover {
      background-color: $COLOR-BLUE-MAIN;
    }
  }

  &__phone-number {
    font-size: 12px;

    &-link {
      color: $COLOR-BLUE-LIGHT;
      text-decoration: none;
    }
  }
}