.social-sharing {
  &__title {
    font-size: 12px;
    color: $COLOR-TEXT;
    margin-bottom: 6px;
    text-align: right;
  }

  &__list {
    gap: 0 5px;
    display: flex;
    justify-content: flex-end;
  }
}