.social-sharing {
  &__title {
    font-size: 12px;
    color: $COLOR-TEXT;
    margin-bottom: 6px;
    text-align: right;
  }

  &__list {
    gap: 0 8px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
  }
}