$BORDER-RADIUS: 6px;

.switcher {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @include media(mobile) {
      flex-direction: column;
      align-items: stretch;
    }

    &-item {
      flex-grow: 1;
      cursor: pointer;
      background-color: #F1F1F1;
      border-left: 1px solid $COLOR-TEXT-DISABLED;

      &:first-child {
        @include media(desktop) {
          border-radius: $BORDER-RADIUS 0 0 $BORDER-RADIUS;
          border-left: none;
        }

        @include media(tablet-landscape) {
          border-radius: $BORDER-RADIUS 0 0 $BORDER-RADIUS;
          border-left: none;
        }

        @include media(tablet-portrait) {
          border-radius: $BORDER-RADIUS 0 0 $BORDER-RADIUS;
          border-left: none;
        }
      }

      &:last-child {
        @include media(desktop) {
          border-radius: 0 $BORDER-RADIUS $BORDER-RADIUS 0;
        }

        @include media(tablet-landscape) {
          border-radius: 0 $BORDER-RADIUS $BORDER-RADIUS 0;
        }

        @include media(tablet-portrait) {
          border-radius: 0 $BORDER-RADIUS $BORDER-RADIUS 0;
        }
      }

      &_active {
        background-color: $COLOR-BLUE-MAIN;
      }
    }
  }

  &__label {
    font-size: 14px;
    cursor: pointer;
    padding: 12px 0;
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;

    @include media(mobile) {
      text-align: left;
      padding: 12px 20px 12px 14px;
    }

    &_active {
      color: $COLOR-WHITE;
    }
  }

  &__input-radio {
    display: none;
  }

  &_error {
    @include validateError;
  }
}