$BORDER-RADIUS: 6px;

.switcher {
  display: inline-block;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &-item {
      cursor: pointer;
      background-color: #F1F1F1;

      &:first-child {
        border-radius: $BORDER-RADIUS 0 0 $BORDER-RADIUS;
        border-right: 1px solid $COLOR-TEXT-DISABLED;
      }

      &:last-child {
        border-radius: 0 $BORDER-RADIUS $BORDER-RADIUS 0;
      }

      &_active {
        background-color: $COLOR-BLUE-MAIN;
      }
    }
  }

  &__label {
    font-size: 14px;
    cursor: pointer;
    padding: 12px 20px;
    display: block;
    text-align: center;

    &_active {
      color: $COLOR-WHITE;
    }
  }

  &__input-radio {
    display: none;
  }

  &_error {
    @include validateError;
  }
}