$UPLOAD-IMAGE-WIDTH: 200px;

.upload-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;

    @include media(mobile) {
      justify-content: space-between;
    }

    &-item {
      width: $UPLOAD-IMAGE-WIDTH;
      height: $UPLOAD-IMAGE-WIDTH / 1.5;
      margin-right: 20px;
      margin-bottom: 20px;
      position: relative;
      background-color: #000;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      overflow: hidden;
      border-radius: 4px;
      overflow: hidden;

      @include media(mobile) {
        margin-right: 0;
        width: calc(50% - 15px);
      }
    }
  }

  &__btn-upload {
    padding: 8px 12px;
    font-size: 14px;
    max-width: 170px;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 1;

    &-controls {
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      position: absolute;
    }

    &_portrait {
      max-height: 100%;
    }
  }

  &__handle {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    cursor: move;
    z-index: 2;
  }

  &__btn {
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    opacity: 0.8;
    background-color: rgba(0, 0, 0, .2);
    transition: opacity .3s ease, background-color .3s ease;

    &_close {
      top: 4px;
      right: 4px;
      width: 22px;
      height: 22px;
      padding: 6px;
      position: absolute;

      @include media(tablet) {
        width: 30px;
        height: 30px;
      }

      @include media(mobile) {
        width: 30px;
        height: 30px;
      }
    }

    &_rotate {
      padding: 6px;
      bottom: 4px;
      position: absolute;
  
      &-right {
        right: 4px;
      }

      @include media(desktop) {
        width: 22px;
        height: 22px;

        &-left {
          right: 28px;
        }
      }

      @include media(tablet) {
        width: 30px;
        height: 30px;

        &-left {
          right: 40px;
        }
      }

      @include media(mobile) {
        width: 30px;
        height: 30px;

        &-left {
          right: 40px;
        }
      }
    }

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, .3);
    }
  }

  &__input-file {
    display: none;
  }
}