.header-top {
  padding-top: 4px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  background-color: $COLOR-GREY-DISABLED;
  font-size: 12px;
  color: $COLOR-TEXT;
  @include padding;

  &__container {
    @extend .container;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}