@import "./header-top.scss";
@import "./header-bottom.scss";

.header {
  z-index: 2;
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    display: block;
  }

  @include media(tablet-landscape) {
    display: block;
  }

  @include media(tablet-portrait) {
    display: none;
  }

  @include media(mobile) {
    display: none;
  }
}