.header-bottom {
  &__container {
    @extend .container;

    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include padding;
  }

  @include media(desktop) {
    display: block;
  }

  @include media(tablet) {
    display: block;
  }

  @include media(mobile) {
    display: none;
  }
}