.footer {
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $COLOR-GREY-DISABLED;
  color: $COLOR-TEXT;
  @include padding;

  &__container {
    @extend .container;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include media(desktop) {
    display: block;
  }

  @include media(tablet) {
    display: none;
  }

  @include media(mobile) {
    display: none;
  }
}