.sticky-footer {
  html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  }
  &:-moz-placeholder {
    @content;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  }
  &::-moz-placeholder {
    @content;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  }
  &:-ms-input-placeholder {
    @content;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  }
}

@mixin padding() {
  @include media(desktop) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @include media(tablet-landscape) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include media(tablet-portrait) {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include media(mobile) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@mixin validateError() {
  border: 1px solid $COLOR-RED-INVALID;
}