.btn {
  border: 0;
  padding: 0;
  display: block;
  border-radius: 4px;
  color: $COLOR-WHITE;
  letter-spacing: 0.5px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  @extend .font-face;

  &_blue {
    color: $COLOR-WHITE;
    background-color: $COLOR-BLUE-MAIN;

    &:hover {
      background-color: $COLOR-BLUE-HOVER;
    }

    &:focus {
      background-color: $COLOR-BLUE-ACTIVE;
    }
  }

  &_middle {
    font-size: 16px;
    padding: 12px 24px;
  }

  &_mini {
    font-size: 13px;
    padding: 8px 12px;
  }

  &_hamburger {
    z-index: 3;
    position: relative;
  }

  &_settings {
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &_disabled {
    color: $COLOR-TEXT-DISABLED;
    background-color: $COLOR-GREY-LIGHT;

    &:hover {
      cursor: default;
      background-color: $COLOR-GREY-DISABLED;
    }
  }
}