.content {
  @extend .container;

  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
  @include padding;

  @include media(desktop) {
    padding-top: 51px;
  }

  @include media(mobile) {
    padding-top: $SEARCH-MOBILE-HEIGHT;
  }
}