.container {
  margin: auto;
  max-width: 1280px;

  display: grid;
  grid-template-rows: 1fr;

  @include media(desktop) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-template-columns: 20% 1fr 15%;
    grid-template-areas: "filter article adsRight";
    gap: 0 30px;
  }

  @include media(tablet-landscape) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-template-columns: 20% 1fr 15%;
    grid-template-areas: "filter article adsRight";
    gap: 0 20px;
  }

  @include media(tablet-portrait) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-template-columns: 25% 1fr;
    grid-template-areas: "filter article";
    gap: 0 20px;
  }

  @include media(mobile) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "article adsRight";
    gap: 1px;
  }

  &-single {
    @include containerWidth;
  
    display: grid;
    grid-template-rows: 1fr;
  
    @include media(desktop) {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 15%;
      grid-template-areas: "article adsRight";
      gap: 0 30px;
    }
  
    @include media(tablet-landscape) {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 15%;
      grid-template-areas: "article";
      gap: 0 20px;
    }
  
    @include media(mobile) {
      grid-template-columns: 1fr;
      grid-template-areas: "article adsRight";
      gap: 1px;
    }
  }

  &-3-columns {
    @include containerWidth;
  
    display: grid;
    grid-template-rows: 1fr;
  
    @include media(desktop) {
      grid-template-rows: 1fr;
      grid-template-columns: 15% 1fr 15%;
      grid-template-areas: "adsLeft article adsRight";
      gap: 0 30px;
    }
  
    @include media(mobile) {
      grid-template-rows: 1fr 15% 15%;
      grid-template-columns: 1fr;
      grid-template-areas: "article" "adsLeft" "adsRight";
      gap: 0 30px;
    }
  }

  &-header {
    margin: auto;
    max-width: 1280px;

    display: grid;
    grid-template-rows: 1fr;

    @include media(desktop) {
      grid-template-rows: 1fr;
      grid-template-columns: 20% 1fr 15%;
      grid-template-areas: "filter article adsRight";
      gap: 0 30px;
    }

    @include media(tablet-landscape) {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(12, 1fr);
      grid-template-columns: 25% 1fr;
      grid-template-areas: "filter article";
      gap: 0 20px;
    }

    @include media(mobile) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: 
        "article"
        "adsRight";
      gap: 1px;
    }
  }

  &_add-object-page {
    margin: auto;
    max-width: 1280px;
  
    display: grid;
    grid-template-rows: 1fr;
  
    @include media(desktop) {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(12, 1fr);
      grid-template-columns: 15% 1fr 15%;
      grid-template-areas: "adsLeft article adsRight";
      gap: 0 30px;
    }

    @include media(tablet-landscape) {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(12, 1fr);
      grid-template-columns: 15% 1fr 15%;
      grid-template-areas: "adsLeft article adsRight";
      gap: 0 20px;
    }

    @include media(tablet-portrait) {
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "article article"
        "adsLeft adsRight"
      ;
      gap: 0 20px;
    }

    @include media(tablet-landscape) {
      grid-template-rows: 1fr;
      grid-template-columns: 15% 1fr 15%;
      grid-template-areas: "adsLeft article adsRight";
      gap: 0 20px;
    }

    @include media(mobile) {
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "article"
        "adsLeft"
        "adsRight"
      ;
      gap: 1px;
    }
  }
}