.form {
  margin-bottom: 10px;

  &__row {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__title {
    font-size: 15px;
    margin-bottom: 5px;
    color: $COLOR-TEXT;
  }
}