.form {
  margin-bottom: 10px;

  &__row {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__title {
    font-size: 16px;
    margin-bottom: 10px;
    color: $COLOR-TEXT;
  }
}