.form {
  margin-bottom: 30px;

  &__row {
    width: 100%;
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }

    &_block-width {
      margin-top: 0;
      display: flex;
      align-items: stretch;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 15px;

      @include media(mobile) {
        flex-direction: column;
      }
    }

    &_error {
      border-radius: 2px;
      padding: 5px 10px;
      @include validateError;
    }
  }

  &__title {
    &_filter-desktop {
      font-size: 16px;
      margin-bottom: 10px;
      color: $COLOR-TEXT;
    }

    &_add-object {
      color: $COLOR-TEXT;
      margin-bottom: 10px;

      @extend .title;
      @extend .title_h5;
      @extend .title_bold;

      &-main {
        @extend .title_h4;
      }
    }
  }

  &__block-width {
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;

    &_align {
      &-right {
        align-items: flex-end;
      }
    }

    &-half {
      width: 50%;
      padding-left: 20px;
      justify-content: space-between;

      &:first-child() {
        padding-left: 0;
      }

      @include media(mobile) {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
      }
    }

    &-third {
      padding-left: 15px;
      width: calc(100% / 3);

      &:first-child() {
        padding-left: 0;
      }

      &_to-bottom {
        justify-content: space-between;
      }

      @include media(mobile) {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
      }
    }

    &-two-third {
      padding-left: 15px;
      width: calc((100% / 3) * 2);

      &:first-child() {
        padding-left: 0;
      }

      @include media(mobile) {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
      }
    }

    @include media(mobile) {
      width: 100%;
    }
  }

  &__input {
    &_add-object {
      width: 100%;
    }
  }
}