.icon {
  &__path {
    fill: $COLOR-TEXT;
    transition: fill 0.3s ease;

    &_checkbox {
      fill: $COLOR-BLUE-ACTIVE;
    }
  }

  &:hover &__path {
    fill: $COLOR-BLUE-MAIN;
  }

  // &:active &__path {
  //   fill: $COLOR-BLUE-ACTIVE;
  // }

  &_active &__path {
    fill: $COLOR-BLUE-MAIN;

    // &:active &__path {
    //   fill: $COLOR-BLUE-MAIN;
    // }
  }

  &_rouble {
    width: 16px;
    height: 16px;
  }
}