.icon {
  &__path {
    fill: $COLOR-TEXT;
    transition: fill 0.3s ease;

    &_checkbox {
      fill: $COLOR-BLUE-MAIN;
    }

    &-arrow {
      fill: $COLOR-WHITE;

      &_active{
        fill: $COLOR-BLUE-SUPER-LIGHT;
      }
    }
  }

  &__path-stroke {
    stroke: $COLOR-TEXT-DISABLED;
    transition: fill 0.5s ease;
  }

  &_active &__path {
    fill: $COLOR-BLUE-ACTIVE;
  }

  &_rouble {
    width: 16px;
    height: 16px;
  }

  &_heart {
    width: 100%;
    fill: none;

    &:hover {
      .icon__path-stroke {
        stroke: $COLOR-TEXT;
      }
    }

    &-filled {
      fill: $COLOR-TEXT-DISABLED;

      &:hover {
        .icon__path-stroke {
          stroke: $COLOR-TEXT-DISABLED;
        }
      }
    }
  }
}