.input {
  padding: 0;
  font-size: 14px;
  color: $COLOR-TEXT;
  height: 40px;
  letter-spacing: 0;
  border-radius: 2px;
  text-indent: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: $COLOR-GREY-ACTIVE;
  background-color: $COLOR-GREY-ACTIVE;

  @include placeholder {
    font-weight: 700;
  }

  &:focus {
    outline: none;
    background-color: $COLOR-GREY-ACTIVE;
  }

  &:active {
    outline: none;
    background-color: $COLOR-GREY-ACTIVE;
  }

  &_invalid {
    border-color: $COLOR-RED-INVALID;
  }

  &_disabled {
    border-color: $COLOR-GREY-DISABLED;
    background-color: $COLOR-GREY-DISABLED;

    @include placeholder {
      color: $COLOR-TEXT-DISABLED;
    }

    &:focus {
      border-color: $COLOR-GREY-DISABLED;
      background-color: $COLOR-GREY-DISABLED;
    }

    &:active {
      border-color: $COLOR-GREY-DISABLED;
      background-color: $COLOR-GREY-DISABLED;
    }
  
  }
}