.paragraph {
  color: $COLOR-TEXT;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &_invalid {
    font-size: 12px;
    letter-spacing: .25px;
    color: red;
    margin-bottom: 2px;
  }

  &_mini {
    font-size: 0.9rem;
  }

  &_highlighted {
    padding: 2px 4px;
    color: $COLOR-WHITE;
    background-color: $COLOR-BLUE-LIGHT;
  }

  &_align-right {
    text-align: right;
  }

  &_bold {
    font-weight: 700;
  }
}