.range {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 6px;

  &__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;

    &-digit {
      font-size: 14px;

      &-from {

      }

      &-to {

      }
    }
  }

  &__item {
    font-size: 16px;
    font-weight: 600;
  }

  &__input {
    width: 50%;

    @include placeholder {
      font-weight: 400;
      font-size: 14px;
    }

    &:first-child {
      margin-right: 6px;
    }

    &:last-child {
      margin-left: 6px;
    }
  }

  &__text {
    font-size: 14px;
    width: 20px;
    font-weight: 400;
    color: $COLOR-TEXT;
  }

  &__desktop {
    width: 100%;

    @include media(desktop) {
      display: block;
    }

    @include media(tablet) {
      display: none;
    }

    @include media(mobile) {
      display: none;
    }
  }

  &__mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @include media(desktop) {
      display: none;
    }

    @include media(tablet) {
      display: flex;
    }

    @include media(mobile) {
      display: flex;
    }

    &-input {
      text-align: right;
      font-weight: 400;
      width: calc(100% - 38px);
      font-size: 14px;
      color: $COLOR-TITLE;

      @include placeholder {
        text-align: left;
      }
    }

    &-text {
      top: 50%;
      right: 0;
      margin-top: -10px;
      position: absolute;
      font-size: 14px;
      height: 20px;
      width: 30px;
      font-weight: 400;
      color: $COLOR-TEXT;
      display: flex;
      flex-direction: row;
      align-items: center;

      &-sup {
        vertical-align: super;
        font-size: 10px;
      }
    }

    &-item {
      width: 50%;
      position: relative;
      background-color: $COLOR-GREY-ACTIVE;

      &:first-child {
        margin-right: 6px;
      }

      &:last-child {
        margin-left: 6px;
      }
    }
  }
}